.collapsible {
  // width: 100%;
  margin: 0 !important;
  box-shadow: none !important;

  .collapsible-header {
    padding: 5px !important;
    font-weight: bold;
  }

  .collapsible-body {
    padding: 0;
    width: 100%;

    // background: #f1f1f1;

    .input-field {
      label {
        font-size: 14px !important;
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
      }

      label:not(.label-icon).active {
        transform: translateY(-14px) scale(1) !important;
      }

      input {
        height: 30px !important;
      }
    }
  }

  .handle {
    color: #000000;
    float: right;
    margin: 0 !important;
  }
}
