// Override Boostrap variables
@import 'bootstrap-variables';

// Import Bootstrap source files from node_modules
@import 'node_modules/bootstrap/scss/bootstrap';

// MATERIAL FONTS
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/material-icons') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fafafa;
  margin: 0;
}

// APP COMPONENT
.app-container {
  display: block;
  height: 100vh;

  .view-container,
  .view-routes {
    height: inherit;
    padding: 0;
    display: block;
  }
}
