.login-container {
  height: inherit;
  margin-bottom: 0 !important;

  .column-form {
    margin: auto;
  }
}

.notificiacion {
  width: 300px;
  height: 50px;
  background-color: #fff6d9;
  border-radius: 10px;
}

.notificiacion {
  line-height: 3em;
}

.notificiacion img {
  float: left;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 4%;
}

.notificiacion p {
}
