.login-container {
  height: inherit;
  margin-bottom: 0 !important;

  .column-form {
    margin: auto;
  }
}

.switch{
  border:1px solid #ccc;
  width:200px;
  height:35px;
  border-radius:13px;
  cursor:pointer;
  display:inline-block
}
.switch-toggle{
  border:1px solid #999;
  box-shadow:1px 1px 1px #ccc;
  width:100px;
  height:34px;
  left:0;
  border-radius:12px;
  background:#fff;
  position:relative;
  transition:left .2s ease-in-out
}
.switch.on{background:blue}
.switch.on .switch-toggle{left:100px}
.switch.disabled{cursor:not-allowed}